<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-eval' 'unsafe-inline'; connect-src 'self' http://10.50.50.52:8080 http://localhost:8787 https://docs.google.com ; img-src 'self' data: http://10.50.50.52:8080 http://localhost:8787" />-->
	<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-eval' 'unsafe-inline'; connect-src 'self' http://10.2.49.39:8787 https://docs.google.com ; img-src 'self' data: http://10.2.49.39:8787 http://10.2.49.39:8182" />
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
	<script src="js/ng-cordova.js"></script>
	<script src="js/ng-storage.js"></script>
	<script src="js/aes.js"></script>
    <script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/factory.js"></script>
	<script src="js/angular-cookies.js"></script>
	<script src="js/angular-translate.js"></script>
	<script src="js/angular-translate-loader-static-files.js"></script>
	<script src="js/angular-translate-storage-local.js"></script>
	<script src="js/angular-translate-storage-cookie.js"></script>
	<script src="js/initIP.js"></script>

	<!-- <script src="js/controller/loginController.js"></script> -->

  </head>
  <body ng-app="starter" class="platform-android platform-cordova platform-webview">
    <ion-nav-view></ion-nav-view>
	<script id="login.html" type="text/ng-template">
		<ion-view title="{{'login'|translate}}" hide-back-button="true">
			<ion-nav-bar class="bar-assertive" align-title="center">
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<center>
					<center><img src="img/lariselogo10.png" style="padding:20px 0px 40px 0px; width: 200px;"/></center>
				</center>
				<div class="list">
					<form name="login_data" ng-submit="login(login_data)">
						<label class="item item-input login">
							<i class="icon ion-locked"></i>&nbsp;<input type="text" placeholder="Username" id="username" ng-init="login_data.username = savedUser || ''" ng-model="login_data.username"/>
						</label>
						<label class="item item-input login">
							<i class="icon ion-locked"></i>&nbsp;<input type="password" placeholder="Password" id="password" autocomplete="off" ng-model="login_data.password"/>
						</label>
						<!-- <label class="item item-checkbox checkbox-stable login">
							Remember me<label class="checkbox"><input type="checkbox" ng-init="login_data.remember = savedSet || false" ng-model="login_data.remember"></label>
						</label> -->
						<button type="submit" class="button button-block button-calm" ng-disabled="login_data.$invalid">{{'login'|translate}}</button>
					</form>

					<button class="button button-block button-assertive" ng-click="toRegistration()">{{'register'|translate}}</button>
					<!-- <button type="button" class="button button-block button-balanced" ng-click="showQR()">
						<i class="ion-qr-scanner"></i> {{'qr_code'|translate}}
					</button> -->
				</div>
			</ion-content>
		</ion-view>
	</script>
	<!-- <script id="activate.html" type="text/ng-template">
		<ion-view title="{{'activation_title'|translate}}" hide-back-button="true">
			<ion-nav-bar class="bar-assertive" align-title="center">
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<center><img src="img/kkasicon.png" style="padding:20px 0px 40px 0px; width: 150px;"/></center>
				<button class="button button-block button-calm" ng-click="active()">{{'send_email'|translate}}</button>
			</ion-content>
		</ion-view>
	</script> -->
	<script id="home.html" type="text/ng-template">
		<ion-view title="{{'mainmenu'|translate}}" hide-back-button="true">
			<ion-nav-bar class="bar-assertive" align-title="center">
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<ion-refresher pulling-text="{{'info_pull_refresh'|translate}}" on-refresh="refreshBalance()">
				</ion-refresher>
				<section class = "home-container">
					<div class="list card">
						<div class="item">
							<h2>{{loginData.firstName._text}} {{loginData.lastName._text}}</h2>
							<!-- <h2>{{profile.company._text}}</h2> -->
							<h2 ng-class="{'assertive':balanceData.balance._text < 0}"><strong>{{'balance'|translate}}: {{balanceData.balance._text | currency:"Rp"}}</strong></h2>
						</div>
					</div>
					<div class="row">
						<div class="col home">
							<a class="home-link" ui-sref="merchants"><div class="button-ios-rounded"><img src="img/buy.png"/></div>{{'buy'|translate}}</a>
						</div>
						<div class="col home">
							<a class="home-link" ng-click="showQRCode(qrcode)"><div class="button-ios-rounded"><img src="img/qr.png"/></div>{{'qr_code'|translate}}</a>
						</div>
						<div class="col home">
							<a class="home-link" ui-sref="transfer"><div class="button-ios-rounded"><img src="img/order.png"/></div>{{'transfer'|translate}}</a>
						</div>
					</div>
					<!-- <div class="row">
						<div class="col home">
							<a class="home-link" ui-sref="feedback"><div class="button-ios-rounded"><img src="img/feedback.png"/></div>{{'feedback'|translate}}</a>
						</div>
						<div class="col home">
							<a class="home-link" ui-sref="order"><div class="button-ios-rounded"><img src="img/order.png"/></i></div>{{'orders'|translate}}</a>
						</div>
						<div class="col home">
							<a class="home-link" ui-sref="settings"><div class="button-ios-rounded"><img src="img/setting.png"/></div>{{'settings_title'|translate}}</a>
						</div>	
					</div> -->
					<button class="button button-block button-assertive" ng-click ="logout()" id="btn">{{'logout'|translate}}</button>
				</section>
			</ion-content>
		</ion-view>
	</script>
	<!-- <script id="history.html" type="text/ng-template">
		<ion-view title="{{'history_title'|translate}}">
			<ion-nav-bar class="bar-assertive" align-title="center">
				<ion-nav-back-button class="button-clear" ng-click="back()">
					<i class="ion-chevron-left"></i> {{'back'|translate}}
				</ion-nav-back-button>
			</ion-nav-bar>
			<ion-content class="has-header" padding=true;>
				<div class="list">
					<ion-item>
					<div class="row" style="border-bottom: 1px solid #eaeaea;">
						<div class="col col-10 item-text-wrap" style="text-align:right;"><strong>St</strong></div>
						<div class="col item-text-wrap"><strong>{{'date'|translate}}</strong></div>
						<div class="col col-33 item-text-wrap"><strong>{{'merchant'|translate}}</strong></div>
						<div class="col item-text-wrap" style="text-align:right;"><strong>{{'amount'|translate}}</strong></div>
					</div>
					<div class="row" ng-repeat="history in historyData | orderBy:'-transDate' | limitTo:10" ng-class="{'calm-bg':history.status == 'DELIVERED', 'balanced-bg':history.status == 'DELIVERED', 'energized-bg':history.status == 'REFUND'}" style="border-bottom: 1px solid #eaeaea;">
						<div class="col col-10 item-text-wrap" style="text-align:right;">{{history.status |  limitTo:1 }}</div>
						<div class="col item-text-wrap">{{history.transDate | date:"dd-MM-yy"}}</div>
						<div class="col col-33 item-text-wrap">{{history.sellerName | limitTo:11 }}</div>
						<div class="col item-text-wrap" style="text-align:right;">{{history.amount | number:0}}</div>
					</div>
					</ion-item>
				</div>
				<div class="card">
					<div class="item item-text-wrap" style="font-weight:bold;">
					<p>Status<br>D = {{'delivered'|translate}}<br>R = {{'refund'|translate}}</p>
					</div>   
				</div>
			</ion-content>
		</ion-view>
	</script> -->
	<!-- <script id="feedback.html" type="text/ng-template">
		<ion-view title="{{'settings_title'|translate}}">
			<ion-nav-bar class="bar-assertive" align-title="center">
				<ion-nav-back-button class="button-clear" ui-sref="home">
					<i class="ion-chevron-left"></i> {{'back'|translate}}
				</ion-nav-back-button>
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<ul class="list">
					<a class="item item-icon-left" ui-sref="service_fb">
						<i class="icon ion-person"></i>{{ 'service_fb' | translate }}
					</a>
					<a class="item item-icon-left" ui-sref="order_fb">
						<i class="icon ion-bag"></i>{{ 'order_fb' | translate }}
					</a>
				</ul>
			</ion-content>
		</ion-view>
	</script>
	<script id="order_fb.html" type="text/ng-template">
		<ion-view title="{{'feedback'|translate}}">
			<ion-nav-bar class="bar-assertive" align-title="center">
				<ion-nav-back-button class="button-clear" ng-click="back()">
					<i class="ion-chevron-left"></i> {{'back'|translate}}
				</ion-nav-back-button>
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<div class="list">
					<ion-item>
						<div class="row" style="border-bottom: 1px solid #eaeaea;">
							<div class="col col-25 item-text-wrap"><b>{{'date'|translate}}</b></div>
							<div class="col col-30 item-text-wrap"><b>{{'merchant'|translate}}</b></div>
							<div class="col col-25 item-text-wrap"><b>{{'amount'|translate}}</b></div>
							<div class="col col-20 item-text-wrap" style="text-align:right;"></div>
						</div>
						<div class="row" style="border-bottom: 1px solid #eaeaea;" ng-repeat="order in orderFbData | orderBy:'-orderTime'">
							<div class="col col-25 item-text-wrap">{{order.orderTime | date:'dd-MM-yyyy'}}</div>
							<div class="col col-30 item-text-wrap">{{order.sellerName}}</div>
							<div class="col col-25 item-text-wrap">{{getTotal(order) | currency:"Rp":0}}</div>
							<div class="col col-20 item-text-wrap" style="text-align:right;"><button class="button icon-left ion-ribbon-b button-balanced" ng-click="addFeedBack(order)"></button></div>
						</div>
					</ion-item>
				</div>
			</ion-content>
		</ion-view>
	</script>
	<script id="order_fb_create.html" type="text/ng-template">
		<ion-view title="{{'feedback'|translate}}">
			<ion-nav-bar class="bar-assertive" align-title="center">
				<ion-nav-back-button class="button-clear" ng-click="back()">
					<i class="ion-chevron-left"></i> {{'back'|translate}}
				</ion-nav-back-button>
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<form name="fb" ng-submit="sendFb(fb)">
					<div class="list list-inset">
						<label class="item item-input item-select">
							<span class="input-label">{{'merchant'|translate}}</span>
							<select ng-model="fb.id" ng-init="fb.id = fb_data.sellerId" required>
								<option value="{{fb_data.sellerId}}">{{fb_data.sellerName}}</option>
							</select>
						</label>
						<label class="item item-input">
							<input type="hidden" ng-model="fb.orderId" ng-init="fb.orderId = fb_data.orderId">
							<input type="text" placeholder="{{'info_fill_comment'|translate}}" ng-model="fb.comment" ng-maxlength="500" required>
						</label>
						<div class="item tabs tabs-secondary tabs-icon-left">
							<input-stars max="5" ng-model="fb.rate"></input-stars>
						</div>
					</div>
					<button type="submit" class="button button-block button-calm" ng-disabled="fb.$invalid">{{'save'|translate}}</button>
				</form>
			</ion-content>
		</ion-view>
	</script>
	<script id="service_fb.html" type="text/ng-template">
		<ion-view title="{{'feedback'|translate}}">
			<ion-nav-bar class="bar-assertive" align-title="center">
				<ion-nav-back-button class="button-clear" ng-click="back()">
					<i class="ion-chevron-left"></i> {{'back'|translate}}
				</ion-nav-back-button>
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<form name="fb" ng-submit="sendFb(fb)">
					<div class="list list-inset">
						<label class="item item-input item-select">
							<span class="input-label">{{'receiver'|translate}}</span>
							<select ng-model="fb.id" required>
								<option value="0">{{'management'|translate}}</option>
								<option ng-repeat="merchant in sellerData" value="{{merchant.sellerId}}">{{merchant.sellerName}}</option>
							</select>
						</label>
						<label class="item item-input">
							<input type="text" placeholder="{{'feedback_give'|translate}}" ng-model="fb.comment" ng-maxlength="500" required>
						</label>
						<div class="item tabs tabs-secondary tabs-icon-left">
							<input-stars max="5" ng-model="fb.rate"></input-stars>
						</div>
					</div>
					<button type="submit" class="button button-block button-calm" ng-disabled="fb.$invalid">{{'save'|translate}}</button>
				</form>
			</ion-content>
		</ion-view>
	</script> -->
	<script id="merchants.html" type="text/ng-template">
		<ion-view title="{{ 'buy_title' | translate }}">
			<ion-nav-bar class="bar-assertive" align-title="center">
				<ion-nav-back-button class="button-clear" ng-click="back()">
					<i class="ion-chevron-left"></i> {{'back'|translate}}
				</ion-nav-back-button>
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<div class="list">
					<div class="item item-divider">{{'info_select_merchant'|translate}}</div>
					<a class="item" ng-repeat="merchant in sellerData" ng-click="showProducts(merchant.sellerName, merchant.sellerId)">
						<h2>{{merchant.sellerName}}</h2>
						<p>{{merchant.desc}}</p>
					</a>
				</div>
			</ion-content>
		</ion-view>
	</script>
	<script id="products.html" type="text/ng-template">
		<ion-view title="{{ 'buy_title' | translate }}">
			<ion-nav-bar class="bar-assertive" align-title="center">
				<ion-nav-back-button class="button-clear" ng-click="back()">
					<i class="ion-chevron-left"></i> {{'back'|translate}}
				</ion-nav-back-button>
				<ion-nav-buttons side="secondary">
					<button class="button button-clear" ng-click="checkoutInq()">
						{{'next'|translate}} <i class="ion-android-cart"></i> 
					</button>
				</ion-nav-buttons>
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<form>
					<div class="list">
						<label class="item item-input">
							<i class="icon ion-search placeholder-icon"></i>
							<input type="text" placeholder="Search" ng-model="searchText">
						</label>
						<div class="item item-thumbnail-left item-button-right" ng-repeat="product in productData | filter:searchText">
							<img src="http://10.2.49.39:8182/ewallet-web{{product.image}}">
							<div class="item-description">
								<h2>{{product.itemName}}</h2>
								<p><strong>{{product.price | currency:"Rp"}}</strong></p>
								<p>{{product.desc}}</p>
							</div>
							<span class="badge badge-assertive badge-qty">{{product.qty}}</span>
							<button class="button button-calm button-plus" ng-click="addToCart({'id':product.itemId, 'name': product.itemName, 'qty': 1, 'price': product.price}, product)"><i class="icon ion-plus"></i></button>
							<button class="button button-calm button-minus" ng-show="product.qty > 0" ng-click="delFromCart({'id':product.itemId, 'name': product.itemName, 'qty': 1, 'price': product.price}, product)"><i class="icon ion-minus"></i></button>
						</div>
					</div>
				</form>
			</ion-content>
		</ion-view>
	</script>
	<script id="checkout.html" type="text/ng-template">
		<ion-view title="{{ 'buy_title' | translate }}">
			<ion-nav-bar class="bar-assertive" align-title="center">
				<ion-nav-back-button class="button-clear" ng-click="back()">
					<i class="ion-chevron-left"></i> {{'back'|translate}}
				</ion-nav-back-button>
				<ion-nav-buttons side="secondary">
					<button ng-click="checkoutPost(totalAmount)" class="button button-clear">
						{{'pay'|translate}} <i class="ion-cash"></i>  
					</button>
				</ion-nav-buttons>
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<div class="card">
					<div class="item item-divider">{{'info_my_cart'|translate}}</div>
					<div class="item item-text-wrap">
						<strong>{{'merchant'|translate}}: {{seller}}</strong>
					</div>
					<ion-item class="item-light">
					<div class="row " style="border-bottom: 1px solid #eaeaea;">
						<div class="col col-50 item-text-wrap"><strong>{{'item'|translate}}</strong></div>
						<div class="col col-25 item-text-wrap" style="text-align:right;"><strong>{{'quantity'|translate}}</strong></div>
						<div class="col col-25 item-text-wrap" style="text-align:right;"><strong>{{'total_price'|translate}}</strong></div>
					</div>
					<div class="row " style="border-bottom: 1px solid #eaeaea;" ng-repeat="barang in cart">
						<div class="col col-50 item-text-wrap">{{barang.name}}</div>
						<div class="col col-25 item-text-wrap" style="text-align:right;">{{barang.qty}}</div>
						<div class="col col-25 item-text-wrap" style="text-align:right;">{{getSumPrice(barang)}}</div>
					</div>
					</ion-item>
				</div>
				<div class="list list-inset">
					<label class="item item-input item-stacked-label">
						<span class="input-label"><strong>{{'notes'|translate}}</strong></span>
						<input id="notes" type="text" ng-model="notes" placeholder="{{'type_here'|translate}}">
					</label>
				</div>
				<div class="card">
					<label class="item">
                        <div class="input-label alignleft" style="font-weight:bold;">
                            GRAND TOTAL
                        </div>
                        <div class="input-label alignright" style="font-weight:bold;">
                            Total: {{getTotal(cart) | currency:"Rp"}}
                        </div>
                        <div style="clear: both;"></div>
                    </label>
				</div>			
				<div class="card">
					<label class="item assertive-bg light item-text-wrap" style="font-weight:bold;">
                       {{'warn_checkout'|translate}}
                    </label>
				</div>
			</ion-content>
			
		</ion-view>
	</script>
	<script id="checkout_finish.html" type="text/ng-template">
		<ion-view title="{{ 'buy_title' | translate }}">
			<ion-nav-bar class="bar-assertive" align-title="center">
				<ion-nav-back-button class="button-clear" ng-click="back()">
					<i class="ion-chevron-left"></i> {{'back'|translate}}
				</ion-nav-back-button>
				<ion-nav-buttons side="secondary">
					<button class="button button-clear" ui-sref="order">
						{{'next'|translate}} <i class="ion-chevron-right"></i> 
					</button>
				</ion-nav-buttons>
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<div class="card">
					<div class="item item-divider item-text-wrap">
						{{ 'info_my_order_first' | translate }} {{orderId}} {{ 'info_my_order_last' | translate }}
					</div>
					<div class="item item-text-wrap">
						<strong>{{'merchant' | translate}}: {{seller}}</strong>
					</div>
					<ion-item class="item-light" >
						<div class="row " style="border-bottom: 1px solid #eaeaea;">
							<div class="col col-50 item-text-wrap"><strong>{{ 'item' | translate }}</strong></div>
							<div class="col col-25 item-text-wrap" style="text-align:right;"><strong>{{ 'quantity' | translate }}</strong></div>
							<div class="col col-25 item-text-wrap" style="text-align:right;"><strong>{{ 'total_price' | translate }}</strong></div>
						</div>
						<div class="row " style="border-bottom: 1px solid #eaeaea;" ng-repeat="items in cart">
							<div class="col col-50 item-text-wrap">{{items.name}}</div>
							<div class="col col-25 item-text-wrap" style="text-align:right;">{{items.qty}}</div>
							<div class="col col-25 item-text-wrap" style="text-align:right;">{{getSumPrice(items)}}</div>
						</div>
					</ion-item>
				</div>
				<div class="card">
					<label class="item item-stacked-label item-text-wrap">
						<span class="input-label"><strong>{{'notes'|translate}}: {{orderNotes}}</strong></span>
					</div>
				</div>
				<div class="card">
					<label class="item">
                        <div class="input-label alignleft" style="font-weight:bold;">
                            GRAND TOTAL
                        </div>
                        <div class="input-label alignright" style="font-weight:bold;">
                            Total: {{getTotal(cart) | currency:"Rp"}}
                        </div>
						 <div style="clear: both;"></div>
                    </label>
				</div>
				<!--<button class="button button-block button-balanced" ui-sref="order">{{'check_status_order'|translate}}</button>-->
			</ion-content>
		</ion-view>
	</script>
	<script id="order.html" type="text/ng-template">
		<ion-view title="{{'orders'|translate}}">
			<ion-nav-bar class="bar-assertive" align-title="center">
				<ion-nav-back-button class="button-clear" ng-click="back()">
					<i class="ion-chevron-left"></i> {{'back'|translate}}
				</ion-nav-back-button>
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<ion-refresher on-refresh="refreshOrder()">
				</ion-refresher>
				<div class="card" ng-repeat="order in orderData">
					<div class="item item-divider item-button-right" ng-class="{'stable-bg':order.orderStatus == 'BOOKED', 'calm-bg':order.orderStatus == 'PROCESS', 'balanced-bg':order.orderStatus == 'DONE', 'energized-bg':order.orderStatus == 'REFUND', 'royal-bg':order.orderStatus == 'DELIVERED'}">
						<div class="input-label" style="font-weight:bold;">
                            ID: {{order.orderId}} - {{order.orderStatus}} 
                        </div>
						<button class="button button-dark" ng-if="order.orderStatus == 'DONE'" on-touch="confirmOrder(order)">
							Pick&nbsp;<i class="icon ion-checkmark-round"></i>
						</button>
					</div>
					<label class="item">
						<div class="input-label alignleft" style="font-weight:bold;">
                            {{ 'merchant' | translate }}: {{order.sellerName}}
                        </div>
						<div class="input-label alignleft" style="font-weight:bold;">
                            Total: {{getTotal(order) | currency:"Rp"}} 
                        </div>
					</label>
					<ion-item class="item-light" >
						<div class="row" style="border-bottom: 1px solid #eaeaea;">
							<div class="col col-50 item-text-wrap"><strong>{{ 'item' | translate }}</strong></div>
							<div class="col col-25 item-text-wrap" style="text-align:right;"><strong>{{ 'quantity' | translate }}</strong></div>
							<div class="col col-25 item-text-wrap" style="text-align:right;"><strong>{{ 'total_price' | translate }}</strong></div>
						</div>
						<div class="row" style="border-bottom: 1px solid #eaeaea;" ng-repeat="item in order.items" ng-if="order.items.length > 1">
							<div class="col col-50 item-text-wrap">{{item.itemName._text}}</div>
							<div class="col col-25 item-text-wrap" style="text-align:right;">{{item.quantity._text}}</div>
							<div class="col col-25 item-text-wrap" style="text-align:right;">{{getSumPrice(item.quantity._text, item.sellingPrice._text)}}</div>
						</div>
						<div class="row " style="border-bottom: 1px solid #eaeaea;" ng-if="order.items.length == null">
							<div class="col col-50 item-text-wrap">{{order.items.itemName._text}}</div>
							<div class="col col-25 item-text-wrap" style="text-align:right;">{{order.items.quantity._text}}</div>
							<div class="col col-25 item-text-wrap" style="text-align:right;">{{getSumPrice(order.items.quantity._text, order.items.sellingPrice._text)}}</div>
						</div>
					</ion-item>
					<label class="item">
						<div class="input-label"><strong>{{ 'notes' | translate }}: {{order.notes}}</strong>
                        </div>
					</label>
				</div>
			</ion-content>
		</ion-view>
	</script>
	<!-- <script id="settings.html" type="text/ng-template">
		<ion-view title="{{'settings_title'|translate}}">
			<ion-nav-bar class="bar-assertive" align-title="center">
				<ion-nav-back-button class="button-clear" ui-sref="home">
					<i class="ion-chevron-left"></i> {{'back'|translate}}
				</ion-nav-back-button>
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<ul class="list">
					<a class="item item-icon-left" ui-sref="language">
						<i class="icon ion-chatbubble-working"></i>{{ 'lang' | translate }}
						<span class="item-note"> {{ 'langvalue' | translate }} </span>
					</a>
					<a class="item item-icon-left" ui-sref="account" ng-show="member == 'true' || member == true">
						<i class="icon ion-cash"></i>{{ 'phone_account' | translate }}
					</a>
				</ul>
				<button class="button button-block button-assertive" ui-sref="home">{{'back'|translate}}</button>
			</ion-content>
		</ion-view>
	</script> -->
	<script id="language.html" type="text/ng-template">
		<ion-view title="{{ 'lang' | translate }}">
			<ion-nav-bar class="bar-assertive" align-title="center">
				<ion-nav-back-button class="button-clear" ng-click="back()">
					<i class="ion-chevron-left"></i> {{'back'|translate}}
				</ion-nav-back-button>
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<div class="list">
					<a class="item" ng-click="changeLang('id_ID')"> {{ 'id' | translate }}</a>
					<a class="item" ng-click="changeLang('en_US')"> {{ 'en' | translate }}</a>
				</div>
			</ion-content>
		</ion-view>
	</script>
	<!-- <script id="account.html" type="text/ng-template">
		<ion-view title="{{'phone_account'|translate}}">
			<ion-nav-bar class="bar-assertive" align-title="center">
				<ion-nav-back-button class="button-clear" ng-click="back()">
					<i class="ion-chevron-left"></i> {{'back'|translate}}
				</ion-nav-back-button>
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<div class="card">
					<div class="item item-text-wrap">
						<strong>{{ 'rem_limit' | translate }}: {{limit | currency:"Rp"}}</strong>
					</div>
				</div>
				<form name="account" ng-submit="saveAccount(check, limit)">
				<ul class="list">
					<li class="item item-toggle">{{ 'payroll_charge' | translate }}
						<label class="toggle toggle-positive">
							<input type="checkbox" ng-model="check">
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</li>
					<input type="hidden" ng-model="limit">
				</ul>
				<button type="submit" class="button button-block button-calm">{{'save'|translate}}</button>
				</form>
			</ion-content>
		</ion-view>
	</script> -->
	<script id="registration.html" type="text/ng-template">
		<ion-view title="{{ 'register' | translate }}">
			<ion-nav-bar class="bar-assertive" align-title="center">
				<ion-nav-back-button class="button-clear" ng-click="back()">
					<i class="ion-chevron-left"></i> {{'back'|translate}}
				</ion-nav-back-button>
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<div class="list">
					<form name="regist" ng-submit="doRegist(data)">
						<label class="item item-input login">
							<i class="icon ion-person"></i>&nbsp;<input type="text" placeholder="Fullname" id="fullname" ng-model="data.fullName" required/>
						</label>
						<label class="item item-input login">
							<i class="icon ion-iphone"></i>&nbsp;<input type="tel" placeholder="Telephone" id="phone" ng-model="data.phoneNumber" required/>
						</label>
						<label class="item item-input login">
							<i class="icon ion-ios-email"></i>&nbsp;<input type="email" placeholder="Email" id="email" ng-model="data.email" pattern="^([0-9a-zA-Z](['-.\w]*[0-9a-zA-Z])*@(([0-9a-zA-Z])+([-\w']*[0-9a-zA-Z])*\.)+[a-zA-Z]{2,9})$" required/>
						</label>
						<label class="item item-input login">
							<i class="icon ion-locked"></i>&nbsp;<input type="text" placeholder="Username" id="username" ng-model="data.username" required/>
						</label>
						<label class="item item-input login">
							<i class="icon ion-locked"></i>&nbsp;<input ng-max="6" type="password" placeholder="Password" id="password" ng-model="data.password" required/>
						</label>
						<label class="item item-input login">
							<i class="icon ion-locked"></i>&nbsp;<input ng-max="6" type="password" placeholder="Confirm Password" id="conPass" ng-model="data.confirmPass" required/>
						</label>
						<label class="item item-input login">
							<i class="icon ion-locked"></i>&nbsp;<input ng-max="6" type="password" placeholder="PIN" id="pin" ng-model="data.pin" required/>
						</label>
						<label class="item item-input login">
							<i class="icon ion-locked"></i>&nbsp;<input ng-max="6" type="password" placeholder="Confirm PIN" id="confirmpin" ng-model="data.confirmPIN" required/>
						</label>

						<button type="submit" class="button button-block button-calm">{{'submit'|translate}}</button>
					</form>
				</div>
			</ion-content>
		</ion-view>
	</script>
	<script id="transfer.html" type="text/ng-template">
		<ion-view title="{{ 'transfer' | translate }}">
			<ion-nav-bar class="bar-assertive" align-title="center">
				<ion-nav-back-button class="button-clear" ng-click="back()">
					<i class="ion-chevron-left"></i> {{'back'|translate}}
				</ion-nav-back-button>
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<div class="list">
					<form name="transfer" ng-submit="doSubmit(data)">
						<div class="row">
							<label class="item item-input login"  style="width:87%;"  ng-disabled="true">
								<i class="icon ion-person"></i>&nbsp;<input type="text" placeholder="Destination Account" id="destAcc" ng-model="data.qrCode" required ng-disabled="true"/>
							</label>
							<i class="icon ion-ios-barcode-outline" style="font-size: 50px; margin-left: 2%;" ng-click="doScan()"></i>
						</div>
						<label class="item item-input login">
							<i class="icon ion-iphone"></i>&nbsp;<input type="tel" placeholder="Amount" id="phone" ng-model="data.amount" required/>
						</label>

						<button type="submit" class="button button-block button-calm">{{'submit'|translate}}</button>
					</form>
				</div>
			</ion-content>
		</ion-view>
	</script>
	<script id="confirmTransfer.html" type="text/ng-template">
		<ion-view title="{{ 'transfer' | translate }}">
			<ion-nav-bar class="bar-assertive" align-title="center">
				<ion-nav-back-button class="button-clear" ng-click="back()">
					<i class="ion-chevron-left"></i> {{'back'|translate}}
				</ion-nav-back-button>
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<div class="list">
					<form name="transfer" ng-submit="doConfirm(data)">
						<div>
							<label style="border-style: none;" class="item item-input" ng-disabled="true"><b>{{'accountNumber'|translate}}</b></label>
							<label style="border-style: none;" class="item item-input" ng-disabled="true">{{data.accountTo}}</label>
							<label style="border-style: none;" class="item item-input" ng-disabled="true"><b>{{'destinationName'|translate}}</b></label>
							<label style="border-style: none;" class="item item-input" ng-disabled="true">{{data.accountToName}}</label>
							<label style="border-style: none;" class="item item-input" ng-disabled="true"><b>{{'amount'|translate}}</b></label>
							<label style="border-style: none;" class="item item-input" ng-disabled="true">{{data.amount}}</label>
						</div>
						<br />
						<label class="item item-input login">
							<i class="icon ion-locked"></i>&nbsp;<input type="password" placeholder="PIN" id="password" ng-model="data.pin" required/>
						</label>

						<button type="submit" class="button button-block button-calm">{{'submit'|translate}}</button>
					</form>
				</div>
			</ion-content>
		</ion-view>
	</script>
	<script id="successTransfer.html" type="text/ng-template">
		<ion-view title="{{ 'transfer' | translate }}">
			<ion-nav-bar class="bar-assertive" align-title="center">
				<ion-nav-back-button class="button-clear" ng-click="back()">
					<i class="ion-chevron-left"></i> {{'back'|translate}}
				</ion-nav-back-button>
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<div class="list">
					<form name="transfer">
						<div>
							<label style="border-style: none;" class="item item-input" ng-disabled="true"><b>{{'reference'|translate}}</b></label>
							<label style="border-style: none;" class="item item-input" ng-disabled="true">{{data.reference}}</label>
							<label style="border-style: none;" class="item item-input" ng-disabled="true"><b>{{'accountNumber'|translate}}</b></label>
							<label style="border-style: none;" class="item item-input" ng-disabled="true">{{success.accountTo}}</label>
							<label style="border-style: none;" class="item item-input" ng-disabled="true"><b>{{'destinationName'|translate}}</b></label>
							<label style="border-style: none;" class="item item-input" ng-disabled="true">{{success.accountToName}}</label>
							<label style="border-style: none;" class="item item-input" ng-disabled="true"><b>{{'amount'|translate}}</b></label>
							<label style="border-style: none;" class="item item-input" ng-disabled="true">{{success.amount}}</label>
							<label style="border-style: none;" class="item item-input" ng-disabled="true"><b>{{'status'|translate}}</b></label>
							<label style="border-style: none;" class="item item-input" ng-disabled="true">{{data.status}}</label>
						</div>
					</form>
				</div>
			</ion-content>
		</ion-view>
	</script>
	<script id="image-modal.html" type="text/ng-template">
        <div class="modal image-modal transparent" ng-click="closeModal()">
           <ion-pane class="transparent">
               <img data-ng-src="{{imageSrc}}" class="fullscreen-image"/>
           </ion-pane>
        </div>
    </script>
  </body>
</html>