/* Empty. Add your own CSS if you like */

/* <input-star></input-star> directive */
.angular-input-stars {
	display: inline-block;
	padding: 0;
	padding-left: -5px;
	list-style: none;
}

.angular-input-stars > li {
	font-size: 24px;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	cursor: pointer;	
}

.angular-input-stars > li .active {
	color: #FDE35E;
	text-shadow: black 0 0 1px, 0 0 1px ;	
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
    text-align: right;
}

.row  {
	padding:0px;
}

.row + .row {
	margin:0px;
	padding:0px;
}

.input-label{
  width:100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.col-15 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%; 
}

.col-35 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 35%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 35%;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  max-width: 35%; 
}

.item-thumbnail-left > img:first-child,
  .item-thumbnail-left .item-image,
  .item-thumbnail-left .item-content > img:first-child,
  .item-thumbnail-left .item-content .item-image {
    position: absolute;
    top: 8px;
    left: 8px;
    max-width: 64px;
    max-height: 64px;
    width: 100%;
    height: 100%;
}

.item-thumbnail-left,
.item-thumbnail-left .item-content {
  padding-top: 8px;
  padding-left: 80px;
  min-height: 90px;
}
  
.item,
.item h1,
.item h2,
.item h3,
.item h4,
.item h5,
.item h6,
.item p,
.item-content,
.item-content h1,
.item-content h2,
.item-content h3,
.item-content h4,
.item-content h5,
.item-content h6,
.item-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: inherit;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.padding > .list .item-input.login{
    margin-bottom: 5px;
    border-color: #999;
    background-color: #fff;
    color: #444;
    z-index: 2;
    border-width: 2px;
    border-style: solid;
    font-size: 12px;
    border-radius: 15px;
    -o-border-radius: 15px;
    -ms-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.padding > .list .item-checkbox.login{
	border: none;
    margin-bottom: 5px;
    background-color: #fff;
    color: #444;
    z-index: 2;
    font-size: 12px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.item.item-button-right .badge-qty{
	/*right:82px;
	top:27px;*/
	right:40px;
	top:28px;
}

.item-button-right > .button-plus{
	/*margin-right:40px; 
	margin-top:12px;*/
	padding: 0 8px;
	top: 4px;
}

.item-button-right > .button-minus{
	padding: 0 8px;
	/*margin-top:12px;*/
	top:42px;
}
 
.button.button-balanced {
    border-radius:15px;
    -o-border-radius:15px;
    -ms-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;

    /* box-shadow: 5px 5px 5px #888888;
    /* border-color: #0a9ec7;
    /* background: #11c1f3; /* Old browsers */
    /* background: -moz-linear-gradient(top, #11c1f3 0%, #6EDFFF, #00AEDF 80%); /* FF3.6+ */
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #11c1f3), #6EDFFF, color-stop(80%, #00AEDF)); /* Chrome,Safari4+ */
    /* background: -webkit-linear-gradient(top, #11c1f3 0%, #6EDFFF, #00AEDF 80%); /* Chrome10+,Safari5.1+ */
    /* background: -o-linear-gradient(top, #11c1f3 0%, #6EDFFF, #00AEDF 80%); /* Opera 11.10+ */
    /* background: -ms-linear-gradient(top, #11c1f3 0%, #6EDFFF, #00AEDF 80%); /* IE10+ */
    /* background: linear-gradient(to bottom, #11c1f3 0%, #6EDFFF, #00AEDF 80%); /* W3C */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e89b4e', endColorstr='#f28500',GradientType=0 ); /* IE6-9 */ 
}

.button.button-calm {
    border-radius:15px;
    -o-border-radius:15px;
    -ms-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;

    /* box-shadow: 5px 5px 5px #888888;
    /* border-color: #0a9ec7;
    /* background: #11c1f3; /* Old browsers */
    /* background: -moz-linear-gradient(top, #11c1f3 0%, #6EDFFF, #00AEDF 80%); /* FF3.6+ */
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #11c1f3), #6EDFFF, color-stop(80%, #00AEDF)); /* Chrome,Safari4+ */
    /* background: -webkit-linear-gradient(top, #11c1f3 0%, #6EDFFF, #00AEDF 80%); /* Chrome10+,Safari5.1+ */
    /* background: -o-linear-gradient(top, #11c1f3 0%, #6EDFFF, #00AEDF 80%); /* Opera 11.10+ */
    /* background: -ms-linear-gradient(top, #11c1f3 0%, #6EDFFF, #00AEDF 80%); /* IE10+ */
    /* background: linear-gradient(to bottom, #11c1f3 0%, #6EDFFF, #00AEDF 80%); /* W3C */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e89b4e', endColorstr='#f28500',GradientType=0 ); /* IE6-9 */ 
}

.button.button-assertive {
    border-radius:15px;
    -o-border-radius:15px;
    -ms-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;

    /* box-shadow: 5px 5px 5px #888888;
    /* border-color: #0a9ec7;
    /* background: #11c1f3; /* Old browsers */
    /* background: -moz-linear-gradient(top, #11c1f3 0%, #6EDFFF, #00AEDF 80%); /* FF3.6+ */
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #11c1f3), #6EDFFF, color-stop(80%, #00AEDF)); /* Chrome,Safari4+ */
    /* background: -webkit-linear-gradient(top, #11c1f3 0%, #6EDFFF, #00AEDF 80%); /* Chrome10+,Safari5.1+ */
    /* background: -o-linear-gradient(top, #11c1f3 0%, #6EDFFF, #00AEDF 80%); /* Opera 11.10+ */
    /* background: -ms-linear-gradient(top, #11c1f3 0%, #6EDFFF, #00AEDF 80%); /* IE10+ */
    /* background: linear-gradient(to bottom, #11c1f3 0%, #6EDFFF, #00AEDF 80%); /* W3C */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e89b4e', endColorstr='#f28500',GradientType=0 ); /* IE6-9 */ 
}

.item-amount{
	position:absolute; 
	right:10px; 
	top: 10px; 
	display:inline-table;
	height:30px;
}

.item-description{
	position: relative;
	min-width: 210px;
	max-width: 100%;
}

input.amount {
	width:40px; 
	display: inline-block; 
	text-align: center;
  height:31px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}


.accordion{
	padding-top:0px;
	padding-bottom:0px;
}

.badge{
	position:absolute;
	z-index:5;
}

.home{
	text-align: center;
	-webkit-flex:1;
  flex:1;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.home-button{
  font-size:50px;
  font-family: "Trebuchet MS", Helvetica, sans-serif; 
}

.home-link{
	text-decoration: none;
  color: #000;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.transparent {
  background: transparent !important;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

/* Styles used for the home button. */
.button-ios-rounded {
	position: relative;
    width: 75px;
    height: 75px;
    line-height: 70px;
    text-align: center;
    vertical-align: bottom;
    display: block;
    color: #fff;
    margin: 0 auto;
}

.list .item-input.login ::-webkit-input-placeholder {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.title {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

input {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.button-clear {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

input label :disabled {
  background-color: #dee5ef;
}